.b-radi {
    border-radius:15px !important ;
}
.a-height {
    height: auto !important;
}
.space-bit {
    justify-content: space-between;
}
.hr-st{
    width:50%;    
    transform: rotateZ(90deg);
    margin-top: 255px;
    margin-right: 300px;
    position: absolute;
    background-color: #645f889f;
}
.part2 {
    margin: 0 auto !important;
    margin-right: 40px !important;
    padding: 60px;
    background-color: #f6f5fc;
    border-radius: 10px;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem #6b55f94d !important;
    border-color: #fff !important;
}

.form-control option {
   border: 0px solid  !important;
}
.green-price {
    color: #6C55F9;
}
select option {
    font-size: 18px;
    font-weight: bold;
}
.taraz  {
    padding-right: 0px !important;
}
.custom-btn {
    width: 300px;
    height: 55px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 23px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.btn-11 {
    border: none;
    background: #6b55f9cc;
      /* background: linear-gradient(0deg, #fb2175 0%, #ea4c89 100%); */
      color: #fff;
      overflow: hidden;
  }
  .btn-11:hover {
      text-decoration: none;
      color: #fff;
  }
  .btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
  }
  .btn-11:hover{
    opacity: .7;
  }
  .btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  .btn-11:focus {
    outline: none;
  }
  
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
  .errortxt {
      display: block;
      color: #ef5350;
      font-weight: bold;
      margin-top: 10px;
  }
  .flex-kon {
      display: flex;
  }
  /*----- responsive -----*/
  @media only screen and (max-width: 1200px) {
    .part2 {
        padding: 30px;
        width: 300px;
          }
          .part1 {
              padding: 10px;
              width: 500px !important;
          }
          .custom-btn {
            width: 200px;

          }
  }
  @media only screen and (max-width: 993px) {
    .flex-kon {
        display: block;
    }
    .part2 {
        padding: 40px;
        width: 400px;
          }
  }
  @media only screen and (max-width: 767px) {
      .part2 {
    margin-right: 0px !important;
    padding: 40px;
    width: 350px;
      }
  }
  @media only screen and (max-width: 575px) {
    .part2 {
  margin-right: 0px !important;
  padding: 20px;
    }
}
@media only screen and (max-width: 473px) {
    .part2 {
  margin-right: 0px !important;
  padding: 20px;
  width: 270px;
    }
    
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
